<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>j'aime les chats ps votre mdp est détecté dans une bibliothèque veuillez contacter votre administrateur pour changer votre mot de passe</title>
</head>
<body>
<br>
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Authentication réussi</h4>
  <p>j'aime les chats ps votre mdp est détecté dans une bibliothèque veuillez contacter votre administrateur pour changer votre mot de passe</p>
  <hr>
  <p class="mb-0">Authentication failed due to {{ error_message }}</p>

</div>
<form action = "/redirect" method="post" ><button  type="submit"  name="redirect" >Continuer l'authentification</button></form>
</br>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>